<!doctype html>
<html>
<head>
<title>Buzzable</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="assets/css/anim.css">
<link rel="stylesheet" href="assets/css/site.css">
<link rel="stylesheet" href="assets/css/responsive.css">
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/loader.js"></script>
<script src="assets/js/common.js"></script>
</head>
<body>
<div class="dashboard-page">
  <div class="dashboard-nav">
    <div class="d-logo"><a href="/dashboard"><img src="assets/images/logo.png" alt="" class="img-fluid desktop-logo"><img src="assets/images/login-logo.png" alt="" class="img-fluid mobile-logo"></a></div>
    <div class="m-header">
    	<div class="user"> <a href="javascript:void(0);"><img src="assets/images/dashboard/user.png" alt=""> Hi, <span class="uname">Vishwas Setia <img src="assets/images/dropdown-arrow.png" alt=""></span></a>
            <div class="dropuser"><a href="javascript:void(0);">Logout</a></div>
        </div>
        <a class="m-menu" href="javascript:void(0);"><img src="assets/images/humberger.png" alt=""></a>
    </div>
    <ul class="dashnav">
      <li><a class="" href="/dashboard"><img src="assets/images/dashboard/dash.png" alt="">Dashboard</a></li>
      <li><a class="active" href="/sentiment"><img src="assets/images/dashboard/sentiment.png" alt="">Sentiment</a></li>
      <li><a class="" href="dashboard.html"><img src="assets/images/dashboard/influential.png" alt="">Influential</a></li>
      <li><a class="" href="dashboard.html"><img src="assets/images/dashboard/buzz.png" alt="">Buzz Words</a></li>
      <li><a class="" href="dashboard.html"><img src="assets/images/dashboard/share-post.png" alt="">Share of Posts</a></li>
      <li><a class="" href="dashboard.html"><img src="assets/images/dashboard/sources.png" alt="">Top Sources</a></li>
      <li><a class="" href="dashboard.html"><img src="assets/images/dashboard/sites.png" alt="">Top Sites</a></li>
      <li><a class="" href="dashboard.html"><img src="assets/images/dashboard/over-time.png" alt="">Sentiment over time</a></li>
    </ul>
  </div>
  <div class="dashboard">
    <div class="search-section">
      <div class="container-fluid deshheader">
      <div class="row">
        <div class="col-xl-8 col-lg-12">
        <a class="btnback" href="/back">Back</a>
        </div>
        <div class="col-xl-4 col-lg-0 mhide text-right">
        <div class="user"> <a href="javascript:void(0);"><img src="assets/images/dashboard/user.png" alt=""> Hi, <span class="uname">Vishwas Setia <img src="assets/images/dropdown-arrow.png" alt=""></span></a>
            <div class="dropuser"><a href="/login">Logout</a></div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="dash-heading">
          <h2>Your search for <span><%= feedback4 %></span></h2>
    </div>
    
    <div class="chart-area">
    	<div id="bar_chart_div"></div>    
    </div>
    <div class="chart-area">
    	<div id="chart_div"></div>    
    </div>
    <div class="dtablebox">
    	<table id="example" class="display nowrap cell-border" style="table-layout:fixed; width:100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Tweet</th>
                <th>User</th>
                <th>Score</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <ul>
                    <% for(var j=0; j<feedb.length; j++) { %>
                        <td><%= feedb[j][0] %></td>
                        <td style="overflow:hidden; width:80px;"><%= feedb[j][1] %></td>
                        <td><%= feedb[j][3] %></td>
                        <td><%= feedb[j][6] %></td>
                        <td><%= feedb[j][5] %></td>
                        <tr></tr>
                    <% } %>                        
            </ul>
        </tbody>
    </table>
    </div>
    
    <!--<div class="dashtabs">
      <ul class="nav nav-tabs sentiment-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">Bar Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">Pie Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">Values</a>
        </li>
      </ul>
    
      <div class="tab-content">
        <div id="home" class="container tab-pane active">
          <div id="chart_div"></div>
        </div>
        <div id="menu1" class="container tab-pane fade">
          <div class="row">
          	<div class="col-xl-6 col-lg-6 col-md-6">
          		<div id="donutchart1"></div>
			</div>
          	<div class="col-xl-6 col-lg-6 col-md-6">
          		<div id="donutchart2"></div>
			</div>
          </div>
        </div>
        <div id="menu2" class="container tab-pane fade">
          <div style="width:100%; height:400px;">Data Not Found....</div>
        </div>
      </div>
    </div>-->
    <div class="dash-footer">
    	<div class="row">
        	<div class="col-xl-2 col-lg-2 col-md-2">
                <h3>Quick Access <img src="assets/images/down-arrow.png" alt=""></h3>
                <ul>
                    <li>Pricing</li>
                    <li>Features</li>
                    <li>About us</li>                
                </ul>
            </div>
        	<div class="col-xl-2 col-lg-2 col-md-2">
                <h3>Help at Hand <img src="assets/images/down-arrow.png" alt=""></h3>
                <ul>
                    <li>Contact us</li>
                    <li>Careers</li>
                    <li>Blog</li>                
                </ul>
            </div>
        	<div class="col-xl-2 col-lg-2 col-md-2">
                <h3>Help at Hand <img src="assets/images/down-arrow.png" alt=""></h3>
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms and conditions</li>
                    <li>Blog</li>                
                </ul>
            </div>
        	<div class="col-xl-4 col-lg-4 col-md-4">
                <h3>Connect <img src="assets/images/down-arrow.png" alt=""></h3>
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <p class="dash-copyright"><script> var d = new Date(); var dy = d.getFullYear(); document.write(dy);</script> Social Analysis. All Rights Reserved.</p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 textrnl">
                <p class="bktop"><a href="Javascript:void(0);" class="backtotop">Back to top <img src="assets/images/back-to-top.png" alt=""></a></p>
                <a href="Javascript:void(0);" class="chaticon"><img src="assets/images/chat.png" alt=""></a>
            </div>
        </div>
    </div>
  </div>
</div>

<script>
    var data1 =  <%- JSON.stringify(feedb1) %>;
</script>

<script>
$(document).ready(function(e) {
    $('#example').DataTable( {
        "scrollX": true, 
		"info": false,
		"searching": false,
		"bLengthChange": false,
		"ordering": false,
		"bFilter": false
    });
});
</script>

<script>
google.charts.load("current", {packages:["corechart"]});
google.charts.setOnLoadCallback(drawVisualization);

function drawVisualization() {
   var data = google.visualization.arrayToDataTable([
	 ['Sentiment Score', '', { role: 'style' }],
   ['Positive',  <%= (typeof(feedback1) !== undefined)? parseFloat(feedback1) : undefined  %> ,'#5fe3a1',],
	 ['Negative',<%= ((feedback2) !== undefined)? parseFloat(feedback2) : undefined  %> ,'#ff6565',],
	 ['Neutral', <%= ((feedback3) !== undefined)? parseFloat(feedback3) : undefined  %> ,'#56d9fe',]
  ]);

var options = {
  title : '',
  vAxis: {title: ''},
  hAxis: {title: ''},
  seriesType: 'bars',
  colors: ['#f0f2f8'],
  legend: {position: 'none'},
  chartArea: {
		width: '80%'
		, height: '400px'
	}
};

var chart = new google.visualization.ComboChart(document.getElementById('bar_chart_div'));
chart.draw(data, options);
}
google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Day');
      data.addColumn('number', 'Neutral');
      data.addColumn('number', 'Positive');
      data.addColumn('number', 'Negative');

for(var i =0;i<data1.length;i++){
      data.addRow(
          [new Date( data1[i][1], (data1[i][2] -1), data1[i][3] ), data1[i][10] , data1[i][9], data1[i][11]]
      );
}



        var options = {
          title: '',
          hAxis: {
			  title:'Dates',
            format: 'M/d/yy',
            gridlines: {count: 30}
          },
          vAxis: {
			  title:'Numbers',
            gridlines: {color: 'none'},
            minValue: 0
          },
		    legend: {position: 'top'},
			series: {
            0: { color: '#56d9fe' },
            1: { color: '#5fe3a1' },
            2: { color: '#ff6565' },
          },
		  chartArea: {
		width: '80%'
		, height: '500px'
	}
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
</script>
</body>
</html>